@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }

  .navbar {
    display: none;
  }

  .media__icons {
    display: none;
  }

  .features__box-img {
    height: 225px;
  }

  .system__content {
    width: 65%;
  }

  .quotes__box {
    width: 40%;
  }

  .quotes__title {
    text-align: start;
  }

  .quotes__message-box {
    width: 100%;
  }

  .newsletter__btn {
    padding: 10px 30px;
  }

  .header__wrapper {
    position: relative;
  }

  .burger__btn {
    display: block;
    position: absolute;
    right: 55px;
  }

  .header__navbar {
    display: block;
    background: #000;
    position: absolute;
    width: 100%;
    height: calc(100vh - 80px);
    top: -685px;
    transition: 0.4s;
  }

  .header__navbar--active {
    top: 80px;
  }

  .navbar__menu {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }

  .media__icons {
    display: none;
  }

  .header__wrapper {
    position: relative;
    height: 0;
    padding-top: 50px;
  }

  .burger-btn {
    display: inherit;
    position: absolute;
    right: 55px;
  }

  .header__content-btn {
    margin-bottom: 150px;
  }

  .title {
    font-size: 72px;
  }

  .features__wrapper {
    justify-content: center;
  }

  .features__content {
    width: 100%;
  }

  .features__content-subtitle,
  .features__content-title {
    text-align: end;
  }

  .features__content-box {
    text-align: end;
  }

  .features__box-img {
    display: none;
  }

  .features__box-title--plus {
    text-align: end;
  }

  .features__box-title--plus::after {
    display: none;
  }

  .system__content {
    width: 100%;
  }

  .quotes__wrapper {
    flex-direction: column;
    gap: 50px;
  }

  .quotes__box {
    width: 100%;
  }

  .quotes__message {
    width: 100%;
  }

  .newsletter__wrapper {
    justify-content: center;
  }

  .newsletter__content {
    width: 100%;
    align-items: center;
  }

  .newsletter__title {
    text-align: center;
  }

  .newsletter__btn {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }

  .title {
    font-size: 40px;
    line-height: 40px;
  }

  .subtitle {
    font-size: 17px;
    line-height: 14px;
  }

  .header__content-btn span {
    display: none;
  }

  .btn {
    padding: 10px;
    line-height: 16px;
  }

  .features__content-subtitle,
  .features__content-title {
    text-align: center;
  }

  .features__content-box {
    text-align: center;
    margin-bottom: 11px;
    padding: 0;
  }

  .features__box-title--plus {
    text-align: center;
    padding: 0;
  }

  .features__box-title {
    font-size: 27px;
    line-height: 27px;
  }

  .features__box-text {
    font-size: 16px;
  }

  .quotes__message-title {
    font-size: 18px;
  }

  .quotes__message-title-plus,
  .quotes__message-text {
    font-size: 16px;
  }

  .newsletter {
    padding: 50px 0 75px;
  }

  .form {
    flex-direction: column;
  }

  .newsletter__btn,
  .newsletter__input {
    width: 100%;
  }

  .footer__wrapper-text {
    flex-direction: column;
  }

  .footer__logo {
    display: none;
  }

  .footer__wrapper {
    justify-content: center;
  }
}

@media (max-width: 370px) {
  .header__content {
    padding-top: 135px;
  }

  .header__content-btn {
    margin-bottom: 60px;
  }

  .title {
    font-size: 34px;
    line-height: 35px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 16px;
  }


  .navbar--active {
    top: 130px;
  }
}
